.table-custom-blue {
  background-color: #016ee2;
  color: white; 
}

.table-custom-blue thead th {
  background-color: #016ee2; 
  color: white;
}

.table-custom-blue tbody tr:hover {
  background-color: #016ee2; 
}

/* Ver se ta sendo utilzado msm #f2f2f2*/
.linha-desligado {
  background-color: #e60000;
  color: #999;
}
.table-responsive {
  overflow: visible !important; /* Isso é perigoso! */
}